*.DS_Store
*.idea
*__pycache__
*.vscode
tests*
cmake-build-*
basic/config.cpp
build*
main/test.cpp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.a
Makefile
run_cegis
run_merge
task_enumeration
task_fta
test
scripts
tmp*
