*.DS_Store
*.idea
*__pycache__
*.vscode
tests*
cmake-build-*
basic/config.cpp
build*
main/test.cpp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.a
Makefile
scripts
tmp*
*.tar.gz
Dockerfile
.dockerignore
z3-z3-4.15.1
solver
